[submodule "lionsos"]
	path = lionsos
	url = https://github.com/ZGwtao/lionsos.git
	branch = pc-benchmark
[submodule "sdfgen"]
	path = sdfgen
	url = https://github.com/ZGwtao/microkit_sdf_gen.git
	branch = proto-container
[submodule "microkit"]
	path = microkit
	url = https://github.com/ZGwtao/microkit.git
	branch = pc-benchmark
[submodule "seL4"]
	path = seL4
	url = https://github.com/seL4/seL4.git
	branch = master
